@charset "UTF-8";
#header {
    padding: 5px;
}

#Cast > img,
#season > img {
    margin: 5px;
    padding: 5px;
}

#Cast .row,
#season .row{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.tvPoster:hover,
.personPicture:hover,
.season:hover {
    transform: scale(1.05);
    color: darkgrey !important;
    cursor: pointer;
}

.tvPoster:active,
.season:active {
    color: grey !important;
}

#videos > iframe {
    margin: 5px;
    padding: 5px;
}

#backdrop_path > img {
    padding-top: 50px;
    height: 400px;
}

#episodes_section {
    visibility: hidden;
}


